html {
  font-family:Helvetica;
  color:black;
  text-align:center;
}

h1 {
  font-size:70px;
  font-weight:bold;
}

h2 {
  font-size:32px;
  font-weight:bold;
}

h3 {
  font-size:23px;
  font-weight:bold;
}

p {
  font-size:14px;
}

ul {
  font-size:18px;
  list-style-type:none;
  padding:0;
  line-height:.95;
}

nav {
  background-color:dimgray;
  color:white;
  font-size:11px;
  text-align:left;
}

a {
  color:white;
}

.background {
  background-image:url("../Images/the-flatiron-building.png");
  background-position:left;
  color:white;
}

#links {
  font-size:18px;
  font-weight:bold;
}
