html {
  font-family:Helvetica;
  color:dimgray;
}

h1 {
  color:white;
  font-size:70px;
  font-weight:bold;
}

h2 {
  font-size:32px;
  font-weight:bold;
}

h3 {
  font-size:23px;
  font-weight:bold;
}

p {

}

.background {
  background-image:url("../Images/the-flatiron-building.png")
}
